/* Estilos generales */
body {
    font-family: Arial, sans-serif;
  }
  
  /* Estilos de la firma */
  #signature-container {
    text-align: center;
    margin: 20px;
  }
  
  #signature-canvas {
    border: 1px solid #000;
  }
  
  /* Estilos del modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-contenido {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
  
  /* Otros estilos */
  button {
    display: block;
    margin: 10px;
  }
  